In [1]:
import pandas as pd

In [16]:
DATOS = pd.read_excel('./INPUT/CHEQUEO/MOODLE.xlsx', engine='openpyxl')
HORARIOS = pd.read_excel('./INPUT/CHEQUEO/HorariosEstudiantes_C2_2022-06-10.xlsx', engine='openpyxl')
PERIODO = 2
NOMBRE_COMPUESTO = '2022-{periodo}-{codAsignatura}-{grupo}-Presencial'
# Código de la asignatura, nomenclatura, número de grupos, sufijo archivo maestro
ASIGNATURAS = [
    ('2511', 'H', 69, ''),
    ('2512', 'M', 64, '2'),
    ('2513', 'N', 7, '3')
]

In [17]:
DATOS

,#,Nombre del Curso,Nombre Corto,Nº de estudiantes inscritos
0,3,DESARROLLO DE APLICACIONES WEB: 2021-4-1711-B1...,2021-4-1711-B1-Presencial,4
1,8,Inglés Ciclo 2,ingles-c2,2
2,14,Coaching Ciclo 3,coaching-c3,1
3,17,Coaching Ciclo 1,coaching-c1,5
4,18,Coaching Ciclo 2,coaching-c2,5
...,...,...,...,...
454,489,INGLES II: 2022-2-2512-M5-Presencial,2022-2-2512-M5-Presencial,71
455,490,INGLES II: 2022-2-2512-M6-Presencial,2022-2-2512-M6-Presencial,71
456,491,INGLES II: 2022-2-2512-M7-Presencial,2022-2-2512-M7-Presencial,71
457,492,INGLES II: 2022-2-2512-M8-Presencial,2022-2-2512-M8-Presencial,71
458,493,INGLES II: 2022-2-2512-M9-Presencial,2022-2-2512-M9-Presencial,71

In [19]:
for asignatura in ASIGNATURAS:
    codAsignatura, nom, nGrupos, sufijo = asignatura
    for i in range(1, nGrupos + 1):
        curso = nom + str(i)
        dfCurso = DATOS[DATOS['Nombre Corto'] == NOMBRE_COMPUESTO.format(
            periodo = PERIODO,
            codAsignatura = codAsignatura,
            grupo = curso)]
        nMatriculados = len(HORARIOS[HORARIOS['GRUPO' + sufijo] == curso]) + 1
        nMatriculadosMoodle = dfCurso['Nº de estudiantes inscritos'].iloc[0]
        print (curso, nMatriculadosMoodle, nMatriculados)
        if nMatriculadosMoodle < nMatriculados:
            print ('=======', curso, '=======')

H1 71 71
H2 71 71
H3 71 71
H4 71 71
H5 71 71
H6 71 71
H7 70 70
H8 59 59
H9 75 75
H10 71 71
H11 71 71
H12 71 71
H13 71 71
H14 71 71
H15 71 71
H16 71 71
H17 76 76
H18 76 76
H19 75 75
H20 71 71
H21 71 71
H22 71 71
H23 39 39
H24 71 71
H25 71 71
H26 71 71
H27 41 41
H28 71 71
H29 71 71
H30 71 71
H31 71 71
H32 26 26
H33 71 71
H34 71 71
H35 71 71
H36 71 71
H37 71 71
H38 71 71
H39 71 71
H40 71 71
H41 71 71
H42 71 71
H43 71 71
H44 71 71
H45 71 71
H46 71 71
H47 71 71
H48 71 71
H49 71 71
H50 55 55
H51 71 71
H52 71 71
H53 71 71
H54 71 71
H55 71 71
H56 71 71
H57 70 70
H58 71 71
H59 71 71
H60 71 71
H61 71 71
H62 71 71
H63 71 71
H64 71 71
H65 71 71
H66 71 71
H67 71 71
H68 71 71
H69 39 39
M1 76 76
M2 74 74
M3 71 71
M4 71 71
M5 71 71
M6 71 71
M7 71 71
M8 71 71
M9 71 71
M10 47 47
M11 71 71
M12 71 71
M13 71 71
M14 71 71
M15 19 19
M16 71 71
M17 71 71
M18 71 71
M19 65 65
M20 71 71
M21 71 71
M22 71 71
M23 66 66
M24 76 76
M25 75 75
M26 71 71
M27 71 71
M28 71 71
M29 71 71
M30 41 41
M31 74 74
M32 71 71
M33 71 71
M34 71 71
M35 71 71
M36 71 71
M37 71 71
M38 71 71
M39 71 71
M40 71 71
M41 71 71
M42 16 16
M43 71 71
M44 71 71
M45 71 71
M46 71 71
M47 71 71
M48 71 71
M49 71 71
M50 71 71
M51 55 55
M52 75 75
M53 71 71
M54 71 71
M55 71 71
M56 71 71
M57 71 71
M58 71 71
M59 71 71
M60 71 71
M61 71 71
M62 71 71
M63 71 71
M64 38 38
N1 71 71
N2 71 71
N3 71 71
N4 71 71
N5 17 17
N6 74 74
N7 71 71