In [1]:
import pandas as pd
import os

In [2]:
RUTA = './INPUT/ARCHIVOS/'
DATOS = pd.read_excel('./INPUT/EST.xlsx', engine='openpyxl')
NOMBRE_BASE = 'CONSTANCIAS TODAS'
SEPARADOR = '-'
N_CARPETAS = 5
N_ARCHIVOS = 1000
EXTENSION_COMPARTIDA = '.pdf'

In [3]:
DATOS

                                          NOMBRE
0                   2220001_LIZARAZO PENA STEVEN
1           2220002_CARRERO PUENTES SARA VIVIANA
2             2220003_DIAZ BARRIOS ANDRES FELIPE
3     2220004_RODRIGUEZ HERNANDEZ CARLOS JOSSEPH
4            2220005_SARRIA SOLARTE FABIO NELSON
...                                          ...
4890        2224915_LINEROS ESCALONA LEONARD LEE
4891        2224916_IBANEZ AMAYA ABRAHAM EDUARDO
4892               2224917_MEDINA CADENA LUZ DEY
4893         2224918_AREVALO BLANCO JERSON ELIAN
4894            2224919_ROMERO PEREZ JAIRO DAVID

[4895 rows x 1 columns]

In [6]:
DATOS.iloc[0]['NOMBRE'].split('_')

['2220001', 'LIZARAZO PENA STEVEN']

In [7]:
cont = 0
for j in range(1, N_CARPETAS + 1):    
    for i in range(1, N_ARCHIVOS + 1):
        info = DATOS.iloc[cont]['NOMBRE']
        data = info.split('_')
        archivo = RUTA + str(j) + '/' + NOMBRE_BASE + SEPARADOR + str(i) + EXTENSION_COMPARTIDA
        nuevoNombre = './OUTPUT/ARCHIVOS/' + data[0] + '_' + data[1] + EXTENSION_COMPARTIDA
        os.rename(archivo, nuevoNombre)
        cont += 1
        if cont == 4895:
            break